---
export interface Props {
	title: string;
	href: string;
}

const { title, href } = Astro.props;
---

<li class="articles-link-card">
    <a href={href}>
        <div class='articles-link-card-content'>
            <span class='articles-link-card-title'>{title}</span>
            <span class='articles-link-card-arrow'>→</span>
        </div>
    </a>
</li>
<style>
	.articles-link-card {
		list-style: none;
		background-color: #242B40;
		border-radius: 8px;
		margin-bottom: 12px;
        transition: all 0.2s ease-in-out;
	}
	.articles-link-card > a {
		display: block;
		width: 100%;
		text-decoration: none;
		color: #FFFFFF;
	}
    .articles-link-card-content {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 20px 24px;
    }
	.articles-link-card-title {
		font-size: 14px;
		font-weight: bold;
		letter-spacing: 1px;
	}
    .articles-link-card-arrow {
        font-size: 16px;
        color: #8D9AAE;
        transition: transform 0.2s ease-in-out;
    }
	.articles-link-card:is(:hover, :focus-within) {
		background-color: #3C4869;
	}
    .articles-link-card:is(:hover, :focus-within) .articles-link-card-arrow {
		color: #1d2232;
    }
</style>