---
export interface Props {
	title: string;
	subtitle: string;
    backgroundImage: string;
}

const { title, subtitle, backgroundImage } = Astro.props;
---
<div class="relative inline-block">
    <img src={backgroundImage} class="block w-full h-auto">
    <div class="absolute bottom-0 left-0 w-full h-[74%] bg-gradient-to-t from-[#111520] to-transparent"></div>
    <div class="absolute bottom-8 left-6 w-[calc(100%-24px)]">
        <p class="text-3xl font-bold m-0 mb-2 tracking-wide text-white">{title}</p>
        <p class="text-xs m-0 font-bold text-white">{subtitle}</p>
    </div>
</div>