---
export interface Props {
	title: string;
	iconPath: string;
	href: string;
}

const { title, iconPath, href } = Astro.props;
---

<li class="list-none bg-[#242B40] rounded-lg mb-3 hover:bg-[#3C4869] focus-within:bg-[#3C4869] transition-colors">
        <a href={href} target="_blank" rel="noopener noreferrer" class="flex w-full no-underline text-white items-center">
                <img src={iconPath} alt={title} class="m-3 p-3 w-14 h-14 object-contain"/>
                <div class='my-6 mx-3 w-full text-sm font-bold tracking-wider'>
                        {title}
                </div>
        </a>
</li>
